<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>

    <!-- client lib -->
		
    <script src="/js_app/js-csp.min.js"></script>
    <!-- browserify libs -->
    <!-- <script src="/js_app/react.min.js"></script>
    <script src="/js_app/underscore.min.js"></script>
    <script src="/js_app/jquery.min.js"></script>
    <script src="/js_app/jquery-ui.min.js"></script>
    <script src="/js_app/js-csp.min.js"></script>

    <script language="javascript">
    window.jQuery = require('jquery-browserify');
    </script>
    <script src="/js_app/bootstrap.js"></script>
    <script language="javascript">
    require('jquery-ui-browserify');
    require('bootstrap-browserify');
    var jquery = window.jQuery;
    </script>

    <!-- <script src="/js_lib/jquery-1.10.2.js"></script> -->
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/ui-lightness/jquery-ui-1.10.4.custom.min.css"
		rel="stylesheet"></link> -->
		<!-- <script src="/js_lib/bootstrap.min.js"></script> -->

    <script src="/bower/jquery/dist/jquery.js">
     
    </script>
    <script src="/bower/jquery-ui/ui/jquery-ui.js">
     
    </script>
    <script src="/bower/bootstrap/dist/js/bootstrap.js">
     
    </script>
    <script src="/bower/d3/d3.js">
     
    </script>
    <link href="/bower/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet"></link>
    <link href="/bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet"></link>
    
    <meta name="viewport"
					content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta charset="utf-8">

  </head>
  <body  style="background-color:#fff;">

		<nav class="navbar navbar-default bs-docs-nav" role="navigation">
			<div class="container">
				
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/"><%=__("gnr.homepage")%></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/views/tree"><%= __("gnr.pedigree_tree") %></a></li>
						<li><a href="/views/add-member"><%= __("gnr.add_member") %></a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
            <% if(!currentUser){ %>
						<li><a href="/login"><%= __("authen.log_in") %></a></li>
						<%} else {%>
						<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= __("gnr.hello") %> <%= currentUser.username%>
              <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/logout">
                  <%= __("authen.log_out") %>
                </a></li>
              </ul>
            </li>
						<%}%>

            <!-- language choosing -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= __("gnr.choose_language") %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/actions/change-language?locale=vi">Tiếng Việt</a></li>
                <li><a href="/actions/change-language?locale=en">English</a></li>
              </ul>
            </li>
					</ul>
					
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>


		
		<%- body %>  
		
		
    
  </body>
</html>
