<% layout('layout-content-container-no-sidebar') -%>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><%= __("authen.log_in") %></h3>
			</div>
			<div class="panel-body">

				<% if (message) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } %>
				
				<form action="/login" method="post" role="form">
					<div class="form-group">
						<label for="username"><%= __("authen.username") %></label>
						<input type="text" class="form-control" id="username" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<label for="username"><%= __("authen.password") %></label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Password">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"><%= __("authen.remember_me") %>
						</label>
					</div>
					<button type="submit" class="btn btn-default"><%= __("authen.log_in") %></button>
				</form>

			</div>
		</div>

	</div>
	<div class="col-md-4"></div>
</div>
