<% layout('layout-content-container-no-sidebar') -%>

<style type="text/css">


 .node circle {
   cursor: pointer;
   fill: #fff;
   stroke: steelblue;
   stroke-width: 1.5px;
 }

 .node image {
   cursor: pointer;
 }

 .node text {
   font-size: 11px;
 }

 path.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 1.5px;
 }

</style>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <%= __("gnr.member_information") %>
        </h4>
      </div>
      <div class="modal-body">

        <!-- progress bar -->
        <div class="progress progress-striped active" id="modalProgressBar">
          <div class="progress-bar"  role="progressbar"
               aria-valuenow="100" aria-valuemin="0"
               aria-valuemax="100" style="width: 100%">
            <span><%= __("gnr.loading_data") %></span>
          </div>
        </div>

        <table class="table" id="modalPersonInfoTable">
          <thead>
            <tr>
              <th colspan="3">
                <h4 id="modalPersonName">Name</h4>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 25%;">
                <strong><%= __("people.birth_date") %></strong>
              </td>
              <td style="width: 25%;">
                <span id="modalPersonBirthDate"></span>
              </td>
              <td rowspan="5">
                <img src="" id="modalPersonPicture"
                     class="img-thumbnail img-responsive"
                     onerror="this.src='/default_member.png'"></img>
              </td>
            </tr>
            <tr>
              <td style="width: 25%;">
                <strong><%= __("people.gender") %></strong>
              </td>
              <td style="width: 25%;">
                <span id="modalPersonGender"></span>
              </td>
              
            </tr>
            <tr>
              <td style="width: 25%;">
                <strong><%= __("people.alive_status") %></strong>
              </td>
              <td style="width: 25%;">
                <span id="modalPersonAliveStatus"></span>
              </td>
              
            </tr>
            <tr>
              <td style="width: 25%;">
                <strong id="modalDeathDateLabel"><%= __("people.death_date") %></strong>
              </td>
              <td style="width: 25%;">
                <span id="modalPersonDeathDate"></span>
              </td>
              
            </tr>
            <tr>
              <td style="width: 25%;">
                <strong><%= __("people.job") %></strong>
              </td>
              <td style="width: 25%;">
                <span id="modalPersonJob"></span>
              </td>
            </tr>
            <tr>
              <td style="width: 25%;">
                <strong><%= __("people.phone_no") %></strong>
              </td>
              <td style="width: 25%;">
                <span id="modalPersonPhoneNo"></span>
              </td>
              <td rowspan="2">
                <strong><%= __("people.address") %></strong><br/>
                <p id="modalPersonAddress"></p>
                </td>
            </tr>
            
            <tr>
              <td style="width: 25%;">
                <strong><%= __("people.id_card") %></strong>
              </td>
              <td style="width: 25%;">
                <span id="modalPersonIdCard"></span>
              </td>
            </tr>
            
            <tr>
              <td colspan="3">
                <strong><%= __("people.note") %></strong><br/>
                <span id="modalPersonNote"></span>
              </td>
              
            </tr>
          </tbody>
        </table>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="form-inline">
      <div class="checkbox">
        <label>
          <input id="zoom-enable" name="zoom-enable" type="checkbox">
          <%= __("treeview.enable_zoom") %>
        </label>
      </div>
      &nbsp;&nbsp;&nbsp;
      <button id="reset-zoom" name="reset-zoom" class="btn btn-default btn-sm">
        <%= __("treeview.reset_zoom") %>
      </button>
    </div>
  </div>
</div>

<script language="javascript">
 // retrieve the root id from the query string
 var rootIdQuery = null;
 <% if (rootId) { %>
                  rootIdQuery = <%= rootId %>;
                  <% } %>
 var currentLocale = "<%= currentLocale %>";
</script>

<hr/>

<div id="tree-body">
</div>

<script language="javascript" src="/js_app/d3.min.js"></script>
<script language="javascript" src="/js_app/render_tree.min.js">
</script>
